
<!DOCTYPE html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../css/styles.css">
        <title>StudyTime</title>
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
    </head>

    


    <body>
    
        <nav>
        <div class="title">
        <a href="/">StudyTime</a>
        </div>
        <div class="links">
        <a href="AboutUs">About Us</a>
        <a href="https://www.linkedin.com/in/badermuhssin/">Contact</a>
        <a href="#">Careers</a>
        </div>
        </nav>


        <h2>Made by: Bader Muhssin</h2>
        <h3>Student w/ <a href = "https://comit.org">ComIT</a> 2021</h3>
    {{{body}}}

    <footer>ComIT Project 2021</footer>

    </body>
</html>